<footer>
            <div class="footerBloco">
                <div class="footerSubBloco">
                    <h4>DEPARTAMENTOS</h4>
                    <ul>
                        <br>
                        <li>Câmeras Digitais</li>
                        <li>Celular &Telefone</li>
                        <li>Computadores</li>
                        <li>Eletrônicos</li>
                        <li>Eletroportáteis</li>
                        <li>Esporte e Lazer</li>
                        <li>Gamer</li>
                        <li>Hardware</li>
                    </ul>
                </div>
                <div class="footerSubBloco">
                    <h4>SOBRE</h4>
                    <br>
                    <ul>
                        <li>Conheça a Pedro Caio Eletronics</li>
                        <li>Nossas Lojas</li>
                        <li>Envie seu Currículo</li>
                        <li>
                            <a href="mailto:pedroaraujonogueirati@gmail.com">Fale conosco</a>
                        </li>
                        <li>Política de Privacidade</li>
                        <li>Política de Troca e Devolução</li>
                        <li>Cadastro</li>
                        <li>Cód. Defesa do Consumidor</li>
                    </ul>
                </div>
                <div class="footerSubBloco">
                    <h4>ATENDIMENTO</h4>
                    <br>
                    <ul>
                        <li>Horário de atendimento: 09:00 às 19:00 de segunda à sexta-feira, horário de Brasília (exceto
                            feriados).</li>
                        <br>
                        <li>Endereço: Rua das Oliveiras, 10115478</li>
                        <li>Centro - Limeira (DE) - CEP: 9865-581</li>
                        <br>
                        <li>Central SAC: (10) 63544-5400</li>
                        <li>E-mail: atendimento@lojalocal.com.br</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
