<div class="jumbotron">
  <h1 class="display-4">Bem vindo!</h1>
  <p class="lead">Realize o <a href="/user/login">login</a> ou <a href="/user/registro">cadastre-se</a> para fazer compras no site</p>
  <hr class="my-4">
  <p>A nossa loja é apenas online, aqui você poderá adquirir produtos eletrônicos com ótimos preços e total segurança</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/user/loja" role="button">Visitar a Loja</a>
  </p>
</div>